@import "tailwindcss";

@font-face {
  font-family: 'DianShuXiaoLi';
  src: url('../assets/font/点书小隶体.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DianShuXiaoLi', sans-serif;
}